.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 104px;
}

.about__avatar {
  width: 464px;
  border-radius: 50%;
  margin-right: 56px;
}

.about__content {
  max-width: 600px;
}

.about__title {
  color: #1a1b22;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  margin: 51px 0 24px;
}

.about__paragraph {
  color: #1a1b22;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33333;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .about {
    padding: 40px;
  }
  .about__avatar {
    width: 232px;
    height: 232px;
    margin-right: 32px;
  }

  .about__content {
    margin-bottom: auto;
    max-width: 424px;
  }

  .about__title {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33333;
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 585px) {
  .about {
    padding: 16px;
    flex-direction: column;
  }

  .about__avatar {
    margin: 16px 8px;
    width: 272px;
    height: 272px;
  }

  .about__title {
    margin-top: 8px;
  }

  .about__paragraph {
    margin-bottom: 128px;
  }
}
