.saved-news {
  background-color: #f5f6f7;
  padding: 80px 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saved-news__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
